h1 {
    color: brown;

    
}
p {
    color: rgb(223, 8, 223);
    font-size: 18px;
}
input {
    border: 1px solid black;
    padding: 5px;
}
button {
    background-color: rgb(226, 128, 43);
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
button:hover {    
    background-color: darkgreen;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}